---
import config from "@config/config.json";
import { site } from "@lib/strapi";


---

<a href="/" class="navbar-brand block">
  
      <img
        src="../../../public/images/logo-white.webp"
        class="w-[250px] mb-[20px]"
      />
    
</a>

