---
import Base from "@layouts/Base.astro";
---

<Base title={"Error 404"}>
  <section class="section pt-0">
    <div class="container">
      <div class="flex items-center justify-center">
        <div class="text-center max-w-[400px] mx-auto">
          <img src="../../public/uploads/oops.png" alt="oops">
          <p class="inline-block text-[#000]">The page you're looking for doesn't exist or has been moved.</p>
          <a href="/" class="bg-[#DB3334] text-[#fff] px-[30px] py-[15px] mt-[40px] inline-block">Take me home to safety</a>
        </div>
      </div>
    </div>
  </section>
</Base>
