---
import Base from "@layouts/Base.astro";
---

<Base>
  <section class="section pb-0">
    <div class="container">
      <div class="md:col-10">
        <div class="content mb-16 text-left">
            <div><h2><strong>About Us</strong></h2></div><br />
            <div><p>Welcome to Meddiah! We're your go-to platform for brain teasers, and interactive learning adventures. If you're here to test your skills or just have fun, our mission is to keep you thinking, exploring, and levelling up in every way possible.</p></div>
            <div><p>Stay curious,<br>
              The <strong>Meddiah</strong> Team</p></div>
        </div>
      </div>
    </div>
  </section>
</Base>
