---
import Base from "@layouts/Base.astro";
---

<Base>
  <section class="section pt-[10px]">
    <div class="container">
      <div class="w-full ">
        <div class="mb-8 text-left text-[#000] md:flex bg-[#EBF1F8] items-end border-[#dbe4ef] border-[1px]">
          <div class="basis-[65%]">
            <img src="../../public/uploads/about.webp" alt="oops">
          </div>
          <div class="basis-[35%] p-[20px]">
            <h2 class="text-[#000] "><strong>About Us</strong></h2>
          </div>
        </div>
      </div>
      <div class="max-w-[750px] mx-auto">
        <div class="w-full">
          <p class="text-[#000] first-letter:text-7xl first-letter:text-slate-900 first-letter:mr-2 first-letter:float-left">Hey! Welcome to meddiah.com – we aspire to become your number one source for fun news, hilarious photo galleries and all in all – the first site you open when you drink your morning coffee. Meddiah team is made up of a few creative people that have a passion for writing and drinking a lot of coffee during the day.</p>
            <div class="w-[90%] mx-auto">
              <img src="../../public/uploads/about-2.jpg" alt="about" class="my-[40px] w-full" />
            </div>
            <p class="text-[#000] text-[16px]">Our team is great at writing interesting stories and accurate content, so we have decided to share their coffee fueled gift to the world. </p>
            <p class="text-[#000] text-[16px] my-[20px]">We hope you enjoy reading our articles and we hope to make you laugh! If there is anything you want to tell us or ask us, don’t hesitate to contact us.</p>
            <h2 class="text-[#000] text-[28px] mb-[15px]">Contact Information</h2>
            <p class="text-[#000] text-[16px]">Address:</p>
            <p class="text-[#000] text-[16px]">Girema Holdings Limited</p>
            <p class="text-[#000] text-[16px]">Karaiskaki 13,</p>
            <p class="text-[#000] text-[16px]">3032 Limassol, Cyprus</p>
            <a href="mailto:info@giremaholdings.com" class="text-[#000] text-[16px] text-[#DB3334] mt-[30px] inline-block">Email: info@giremaholdings.com</a>
          </div>
      </div>
    </div>
  </section>
</Base>
