---
import Base from "@layouts/Base.astro";
import FooterPost from "@layouts/components/footerPost.astro";
---

<Base showFooter={false}>
  <section class="section pt-[10px]">
    <div class="container">
      <div class="w-full ">
        <div class="mb-8 text-left text-[#000] md:flex bg-[#EBF1F8] items-end border-[#dbe4ef] border-[1px]">
          <div class="basis-[70%]">
            <img src="../../public/uploads/lovely-birman-cat-at-home-KH2EL4R.webp" alt="contact">
          </div>
          <div class="basis-[30%] p-[10px]">
            <h1 class="text-[#000] sm:text-[36px] text-[24px] font-bold text-center md:text-left"><strong>Contact Us</strong></h1>
          </div>
        </div>
      </div>
      <div class="max-w-[750px] mx-auto">
        <div class="w-full sm:w-1/2">
          <h2 class="text-[#000] text-[28px] mb-[10px]">We love new friends</h2>
          <p class="text-[#000] text-[16px]">We are incredibly responsive when it comes to our readers because we value what you have to say. If you have any questions or have something important you want us to know, shoot us an email at</p>
          <h2 class="text-[#000] text-[28px] mb-[10px] mt-[25px]">Contact Information</h2>
          <p class="text-[#000] text-[16px]">Address: Girema Holdings Limited</p>
          <p class="text-[#000] text-[16px]">Karaiskaki 13,</p>
          <p class="text-[#000] text-[16px]">3032 Limassol, Cyprus</p>
          <a href="mailto:info@giremaholdings.com" class="text-[#000] text-[16px] mt-[30px] inline-block">Email: info@giremaholdings.com</a>
         
        </div>
        <hr class="border-solid mt-10 mb-px border-1 border-black	border-x-0">
        <hr class="border-solid mb-10 border-1 border-black	border-x-0">
        <div class="w-[100%]">
            <div class="mx-auto">
              <img src="../../public/uploads/french-bulldog-and-bulldog-puppy-dressed-as-busine-79VLFCX.webp" alt="contact" class=" w-full" />
            </div>
        </div>
      </div>
    </div>
  </section>
  <FooterPost />
</Base>
