---
import Base from "@layouts/Base.astro";
---

<Base>
  <section class="section pb-0">
    <div class="container">
      <div class="md:col-10">
        <div class="content mb-16 text-left">
            <div><h2><strong>Contact Us</strong></h2></div><br />
            <div><p>Got questions, feedback, or just want to chat? Reach out and connect with us anytime.</p></div>
            <div><a href="mailto:info@meddiah.com">info@meddiah.com</a></div>
            <div><p>Stay curious,<br>
              The <strong>Meddiah</strong> Team</p></div>
        </div>
      </div>
    </div>
  </section>
</Base>
